#pageBar   
   -if page > 1
      -urlStr = setPageNum(url("#{path}"), page-1) 
      %a{:href=>urlStr}= "&lt prev"
   -([1, page-5].max .. [5+page,pages].min).each do |n|
      -if page != n
         -urlStr = setPageNum(url("#{path}"), n) 
         %a{:href=>urlStr}= n
      -else
         ="<B>#{n}</B>"
   -if page < pages
      -urlStr = setPageNum(url("#{path}"), page+1) 
      %a{:href=>urlStr}= "next &gt"
