#pageBar   
   -if page > 1
      %a{:href=>url("#{path}?page=#{page-1}")}= "&lt prev"
   -([1, page-5].max .. [5+page,pages].min).each do |n|
      -if page != n
         %a{:href=>url("#{path}?page=#{n}")}= n
      -else
         ="<B>#{n}</B>"
   -if page < pages
      %a{:href=>url("#{path}?page=#{page+1}")}= "next &gt"

