!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
   %head
      %title Polynomial System Details
      %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
      %link{"rel" => "stylesheet", "href" => "/css/styles.css", "type" => "text/css" }   
      %script{"src" => "/js/toggleDiv.js", "type"=>"text/javascript"}
   %body
      = partial "bar"
      %div{:id=>"main"}
         #header
            -if @systemDetails[0]['longname'] != nil
               %h1=  @systemDetails[0]['longname'].capitalize + " Details"
            -else 
               %h1=  @systemDetails[0]['name'].capitalize + " Details"
         %table.detailstable
            %tbody
               %tr 
                  %th="Field" 
                  %th="Data"
               - tableFields = ['tdeg', 'mvol', 'posdim', 'soln_c', 'soln_r']
               %tr 
                  %td
                     %a{:href=>url("/families/")} Family 
                  %td
                     -if @systemDetails[0]['familyname'] != nil
                        %a{:href=>url("/families/"+@systemDetails[0]['familyname'])}= @systemDetails[0]['familyname']
               - tableFields.each do |field|
                  %tr
                     - if field != 'name'
                        %td= field
                        %td= @systemDetails[0][field]
               - @fullRowValues.each do |value|
                  %tr
                     %td= value
         %a= "<B>Family Description:</B> <BR> #{@systemDetails[0]["familydesc"]} <BR><BR><B>System Description:</B><BR> #{@systemDetails[0]["desc"]}"      
         %div{:id=>"collapsibleBoxSection"}
            - boxFields = ['eq_sym', 'eq_lee', 'ref']
            - boxFields.each do |field|
               %div.collapsibleHeader{"onclick"=>"switchMenu('#{field}')"}
                  %a= field
               %div.collapsibleDiv{:id=>field}
                  %a= @systemDetails[0][field]
            -#initialize all boxes to be closed initially
            - boxFields.each do |field|
               %script= "switchMenu('#{field}')"
